<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns:android="http://schemas.android.com/apk/res/android"
	id="cordova-plugin-iu-amlibrary"
	version="4.9.2"
	xmlns="http://apache.org/cordova/ns/plugins/1.0">

	<name>amlibrary</name>
	<js-module name="amlibrary" src="www/amlibrary.js">
	    <clobbers target="cordova.plugins.amlibrary" />
	</js-module>
	<platform name="android">

	    <config-file parent="/*" target="res/xml/config.xml">
	        <feature name="amlibrary">
	            <param name="android-package" value="com.iu.amlibrary.amlibrary" />
	            <param name="onload" value="true" />
	        </feature>
	    </config-file>

	    <config-file parent="/*" target="AndroidManifest.xml">
	      <uses-permission android:name="android.permission.INTERNET" />
		  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
		  <uses-permission android:name="android.permission.CALL_PHONE" />
		  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		  <uses-permission android:name="android.permission.WAKE_LOCK" /> 
		  <!-- Removes notification while downloading APK's etc -->
		  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
		  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		  <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
		  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
		  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

	    </config-file>

	    <framework custom="true" src="src/android/amazonia.gradle" type="gradleReference" />

		<!-- Add a logo image and rename it as rich_notification_logo.png.
		     This is for rich notification watermark.
			 Uncomment the below line to have the watermark displayed. -->
		<!-- <resource-file src="src/android/rich_notification_logo.png" target="assets/rich_notification_logo.png" /> -->
	    <resource-file src="src/android/drconfig.json" target="assets/drconfig.json" />
	    <resource-file src="src/android/libs/amlibrary-prod-release.aar"
	        target="libs/amlibrary-prod-release.aar" />
        <resource-file src="src/android/activity_host_compliance.xml" target="res/layout/activity_host_compliance.xml" />

	    <source-file src="src/android/com/iu/amlibrary/amlibrary.java"
	        target-dir="src/com/iu/amlibrary" />
		<source-file src="src/android/com/iu/amlibrary/HostComplianceActivity.java"
	        target-dir="src/com/iu/amlibrary" />
     <resource-file src="iu-proguard.txt"
               target="iu-proguard.txt"/>
	</platform>
</plugin>
